/* navbar style  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2fcf9 !important;
}

header{
    background: #e8f5fc;
    color: #c6c9cf;
}
header nav{
    display: flex;
    justify-content: space-around;
}
header nav .logo{
    color: #4aa7f7;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-left: 20px;
}
header nav ul a{
    color: #c6c9cf;
    text-decoration: none;
}
header nav ul a.active{
    color: #4aa7f7;
}
header nav ul a:hover{
    color: #4aa7f7;
}
header nav ul a.btn{
    background: #4aa7f7;
    color: #fff;
    padding: 8px 20px;
    margin-left: 40px;
    border-radius: 5px;
}

.hero{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

}
.hero img{
    width: 500px;
    margin-top: 30px;
}
.hero .context{
    margin-top: 100px;
    color: #000;
    margin-left: 180px;
}
.hero .context .doctor-h2{
    color: #4aa7f7;
}
.hero .context h1{
    line-height: 1.5;
}
.hero .context p{
    color: #c6c9cf;
    line-height: 2;
    margin-bottom: 30px;
}
.hero .context .chat-btn{
    background: #4aa7f7;
    color: #fff;
    padding: 8px 20px;
    margin-left: 40px;
    border-radius: 5px;
    text-decoration: none;
}
.hero .context .appoinment-btn{
    text-decoration: none;
    background: #f9f9f9;
    border: 1px solid #4aa7f7;
    color: #4aa7f7;
    padding: 8px 20px;
    margin-left: 40px;
    border-radius: 5px;
}
.cta{
    margin-top: 50px;
}
.cta h1{
    text-align: center;
    margin-bottom: 100px;
}


.items {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin: 0 30px;
}

.col {
    flex: 1;
    max-width: 300px; 
    text-align: center;
}
.col p{
    color: #b1b5b4;
}
.quality{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.quality .doctor-img{
    width: 500px;
}
.quality .quality-content{
   margin-top: 50px;
}
.quality p{
   color: #b1b5b4;
}
.quality p img{
   margin-right: 20px;
   margin-top: 5px;
}
.quality .quality-btn{
    background: #40a2f7;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.wrap-quality-btn{
    margin-top: 40px;
}
.service-section {
    text-align: center;
}

.services {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    max-width: 280px;
    padding: 20px;
    margin: 20px; /* Adjusted margin to increase space between services */
    border-radius: 5px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
}
.services-2{
    border-bottom: 15px solid #40a2f7;
}

.service img {
    width: 80px; 
    height: 80px; 
    margin-bottom: 10px;
}

.service h3 {
    color: #333;
}

.service p {
    color: #b1b5b4;
}
.service-section p {
    color: #b1b5b4;
}



.doctors-section {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.doctors-section p{
    color: #b1b5b4;
}

.doctors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.doctor {
    flex: 1;
    max-width: 200px;
    margin: 10px;
    background: #fff;
    padding: 10px;
}

.doctor img {
    width: 100%;
}

.doctor h3 {
    margin-bottom: 5px;
    color: #333;
}

.doctor p {
    margin: 5px 0;
    color: #b1b5b4;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}
.social-icon.facebook{
    background-color: #4e77cf !important;
}
.social-icon.twitter{
    background-color: #1da1f2 !important;
}
.social-icon.linkedin{
    background-color: #0076b5 !important;
}

.social-icon i {
    font-size: 16px;
}
.explore-doctors{
    margin-top: 50px;
}
.button {
    background: #40a2f7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 50px;
}

.button:hover {
    background-color: #0056b3;
}



.download-app{
    margin-top: 50px;
}
.download-app h1{
    text-align: center;
    margin-bottom: 100px;
}


.download-app .quality{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.download-app .quality .mobile-img{
    width: 600px;
}
.download-app .quality .quality-content{
   margin-top: 50px;
}
.download-app .quality p{
   color: #b1b5b4;
}


.subscribe .container{
    background: #40a2f7;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 50px;
}
.subscribe .container img{
   margin-top: -100px;
}
.subscribe .container h1{
   color: #fff;
   font-size: 40px;
}
.subscribe .container .appoinment-btn{
    text-decoration: none;
    background: #f9f9f9;
    border: 1px solid #4aa7f7;
    color: #4aa7f7;
    padding: 10px 10px;
    border-radius: 5px;
}


.footer {
    padding: 30px 0;
    color: #333;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    /* flex: 1; */
    max-width: 250px;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #b1b5b4;
    text-decoration: none;
    line-height: 1.5;
}

.footer-column p {
    margin: 0;
    color: #b1b5b4;
    line-height: 1.5;
}

.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    color: #b1b5b4;
}
.footer-devider{
    margin-top: 50px;
    width: 100%;
    border-top: 1px solid #b1b5b4;
}
.footer-column.web-name p{
    line-height: 2;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-bottom ul li {
    display: inline;
    margin-right: 10px;
}
.footer-bottom ul li a{
    text-decoration: none;
    color: #b1b5b4;
}

.footer-bottom ul li:last-child {
    margin-right: 0;
}


.footer-social-icons {
    margin-top: 10px;
}

.footer-social-icons .social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #636363 !important;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.footer-social-icons .social-icon i {
    font-size: 16px;
}


/* .form-group {
    display: flex;
    align-items: center;
} */

.form-group input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
    width: 250px;
    margin-top: 20px;
}

.form-group button.btn-footer {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 270px;
    margin-top: 10px;
}

.form-group button.btn-footer:hover {
    background-color: #0056b3;
}
